.item {
    width: 100px;
}

.item.online {
    background-color: green;
}

.item.offline {
    background-color: red;
}
.friendlist {
    display:flex;
    flex-direction: row;
    margin-block: 2rem;
}